.admin-edit {
    display: block;
    max-width: 1540px;
    width: 60%;
    margin: 80px auto;
}

.admin-edit__title {
    border-left: 7px solid black;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.admin-edit__inner {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.admin-edit__row:not(:first-child) {
    border-top: 2px solid #E1E1E1;
}

.admin-edit__header {
    padding: 25px;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 60px;
}

.admin-edit__content {
    font-size: 16px;
    font-weight: bold;
}

.admin-edit__content-date {
    font-size: 16px;
    font-weight: bold;
}

.admin-edit__content-date span {
    padding-left: 145px;
}

.admin-edit__button {
    margin-top: 30px;
    text-align: right;
}

.admin-edit__button-common {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    width: 130px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin-edit__button-approve {
    background-color: #696969;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .admin-edit {
        width: 80%;
    }

    .admin-edit__title {
        font-size: 22px;
    }

    .admin-edit__header {
        font-size: 13px;
    }

    .admin-edit__button-common {
        font-size: 16px;
        width: 110px;
        height: 40px;
    }
}